$ui_gray: #7e8081;
$font: OpenSans, sans-serif;
$ui_blue: #34657f;
$dark_gray: #535658;
@mixin overrides {

  .mytheme .v-button:after {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }

  .caption-small {
    width: 93px;
    height: 14px;
    font-family: $font;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    color: $ui_gray;
  }

  //* BUTTONS *//
  $button_width: 240px;
  $button_height: 40px;

  $success-button-color: #51ba74;
  $danger-button-color: #cc7252;
  $primary-button-color: #34657f;
  $grayedout-button-color: #eaeaea;

  .button-common {
    width: $button_width;
    height: $button_height;
    border-radius: 4px;
    border: none;
    font-family: $font;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }

  .v-button.v-button-success {
    @extend .button-common;
    background: $success-button-color;
  }

  .v-button.v-button-danger {
    @extend .button-common;
    background: $danger-button-color;
  }

  .v-button.v-button-primary {
    @extend .button-common;
    background: $primary-button-color;
  }

  .v-button.v-button-grayedout {
    @extend .button-common;
    background: $grayedout-button-color;
  }

  /* LABELS */
  $label_width: 240px;
  $label_height: 40px;

  $label_normal_color: #34657f;
  $label_grayedout_color: #eaeaea;

  .label-common {
    padding-top: 13px;
    padding-bottom: 3px;
    width: $label_width !important;
    height: $label_height;
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    border-bottom: 1px solid #eaeaea;
  }

  .v-label.v-label-normal {
    @extend .label-common;
    color: $label_normal_color;
  }

  .v-label.v-label-mandatory {
    @extend .label-common;
    color: $label_grayedout_color;
  }

  /* COMBOBOXES */
  $combobox_width: 240px;
  $combobox_height: 26px;

  .combobox-common {
    width: $combobox_width;
    height: $combobox_height;
    border-bottom: 1px solid #eaeaea;
  }

  .combobox-caption-common {
    width: 148px;
    height: 22px;
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  .combobox-item-common {
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  .v-combobox-normal {
    @extend .combobox-common;
    border-bottom: 1px solid #eaeaea;
    margin-top: 0px;
  }

  .v-filterselect-suggestpopup .gwt-MenuItem-selected {
    @extend .combobox-item-common;
    background: $ui_blue !important;
    color: white !important;
  }

  .v-filterselect-suggestpopup .gwt-MenuItem {
    @extend .combobox-item-common;
    color: $ui_gray;
  }

  .v-filterselect-suggestpopup .gwt-MenuItem:hover {
    color: white;
  }

  .v-combobox-normal .v-filterselect-input {
    padding: 0px 0px 0px 1px;
    margin: 0px;
    width: 148px;
    height: 22px;
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $ui_blue;
  }

  .v-caption-v-combobox-normal {
    @extend .caption-small;
  }

  .v-combobox-mandatory .v-filterselect-input {
    font-family: $font;
    padding: 0px 0px 0px 1px;
    margin: 0px;
    width: 148px;
    height: 22px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $ui_gray;
  }

  .v-filterselect-v-combobox-normal.v-filterselect-focus .v-filterselect-input, .v-filterselect-v-combobox-mandatory.v-filterselect-focus .v-filterselect-input {
    color: $dark_gray !important;
    opacity: 0.20;
  }

  .v-combobox-mandatory {
    @extend .combobox-common;

  }

  .v-caption-v-combobox-mandatory {
    @extend .caption-small;
    color: $ui_blue;
  }

  /* TEXTFIELDS */

  $textfield_width: 240px;
  $textfield_height: 26px;

  .textfield-common {
    width: $textfield_width;
    height: $textfield_height;
    padding: 0px;
    border-bottom: 1px solid #eaeaea;
    color: $ui_gray;
  }

  .v-caption-v-textfield-normal {
    @extend .caption-small;
  }

  .v-textfield-normal {
    @extend .textfield-common;

  }

  .v-textfield-mandatory {
    @extend .textfield-common;
  }

  .v-caption-v-textfield-mandatory {
    @extend .caption-small;
    color: $ui_blue !important;
  }

  .v-textfield-prompt {
    color: $ui_gray;
    opacity: 0.20 !important;
  }

  /** DATEFIELD**/
  $datefield_width: 240px;
  $datefield_height: 26px;

  .v-datefield-normal {
  }

  .v-datefield-normal .v-datefield-button, .v-datefield-mandatory .v-datefield-button {
    margin-left: $datefield_width - 40px;
    margin-bottom: 10px;
  }

  .v-datefield-normal .v-datefield-button:before, .v-datefield-mandatory .v-datefield-button:before {
    content: url("newicons/calendar.png");
  }

  .v-datefield-normal .v-datefield-textfield {
    padding: 0px 44.4px 0px 0px;
    font-size: 16px;
    border-bottom: 1px solid #eaeaea;
    width: $datefield_width;
    height: $datefield_height;
    margin-bottom: 5px;
  }

  .v-caption-v-datefield-normal {
    @extend .caption-small;
  }

  .v-datefield-mandatory {
    @extend .v-datefield-normal;
  }

  .v-caption-v-datefield-mandatory {
    @extend .caption-small;
    color: $ui_blue;
  }

  /** TREE **/

  $tree_item_height: 30px;
  $tree_item_width: 200px;

  .v-tree-normal .v-tree-node-caption {
    height: $tree_item_height;
    width: $tree_item_width;
  }

  .v-tree-normal .v-tree-node-caption > div {
    height: $tree_item_height;
  }

  .v-tree-normal .v-tree-node > div .v-icon {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .v-tree-normal .v-tree-node > div span {
    margin-top: 4px;
    margin-bottom: 7px;
    margin-left: 10px;
    font-family: $font;
    line-height: 19px;
    width: 108px;
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #7e8081;
  }

  .v-tree-normal .v-tree-node:before {
  }

  .v-tree-normal .v-tree-node-caption.v-tree-node-selected {
    background: transparent none !important;
    border: solid 1px #eaeaea;
    border-radius: 4px;
  }

  .v-tree-normal .v-tree-node-caption.v-tree-node-selected:after, .v-tree-normal .v-tree-node-caption.v-tree-node-selected .v-icon {
    background: transparent none !important;
    color: $dark_gray;
  }

  .v-tree-node-focus:after {
    border: none !important;
  }

  .v-tree-normal .v-tree-node-caption.v-tree-node-selected span {
    color: $dark_gray;
  }

  .v-caption-v-tree-normal {
    width: 240px;
    height: 30px;
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $dark_gray;
    border-bottom: 1px solid #eaeaea;
  }

  .v-caption-v-tree-normal .v-captiontext {
    width: 80px;
    height: 22px;
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $dark_gray;
  }

  /** MENUBAR **/
  .v-menubar-normal {

  }

  .v-caption-v-menubar-normal {
    width: 86px;
    height: 22px;
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #535658;
  }

  .v-menubar-menuitem {
    width: 170px;
    height: 30px;
  }

  .v-menubar-popup .v-menubar-menuitem-selected {
    background-color: $ui_blue !important;
    background-image: none;
  }

  .v-menubar-popup .v-menubar-menuitem-selected .v-menubar-menuitem-caption {
    color: #ffffff;
  }

  .v-menubar-popup .v-menubar-menuitem:hover .v-menubar-menuitem-caption {
    color: #ffffff;
  }

  .v-menubar-popup .v-menubar-menuitem .v-menubar-menuitem-caption {
    width: 108px;
    height: 19px;
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #7e8081;
  }

  .v-menubar-popup .v-menubar-menuitem {
    padding: 5px 20px 6px;
  }

  .v-menubar-normal .v-menubar-menuitem .v-menubar-menuitem-caption {
    color: $ui_blue;
  }

  .v-menubar-normal .v-menubar-menuitem-selected {
    background-color: $ui_blue !important;
    background-image: none;
  }

  .v-menubar-normal .v-menubar-menuitem-selected .v-menubar-menuitem-caption {
    color: #ffffff;
  }

  /** GRID **/
  .v-table-normal {
    background: white;
  }

  .v-table-normal .v-table-row .v-table-cell-content, .v-table-normal .v-table-row-odd .v-table-cell-content {
    width: 90px;
    height: 19px;
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #7e8081;
  }


  .v-table-normal .v-table-row {
    height: 30px;
  }

  .v-caption-v-table-normal {
    width: 91px;
    height: 22px;
    font-family: $font;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #535658;
  }

  .v-table-normal .v-table-header-cell, .v-table-normal .v-table-header-cell-asc, .v-table-normal .v-table-header-cell-desc {
    border: none;
    background: white;
  }

  .v-table-normal .v-table-caption-container {
    border: none;
    background: transparent none;
    height: 17px;
    font-family: $font;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #535658;
  }

  .v-table-normal .v-table-body{
    //width: calc(100% - 20px);
    //margin-left:10px;
  }

  .v-table-normal .v-table-body {
    //padding-left: 10px;
    //padding-right: 10px;
  }

  // Insert your own theme rules here
}